@import url("/css/fonts.css");
body {
    font-family: "raleway";
}

.name {
    text-align: center;
    font-size: 30px;
    border-bottom: 1px solid #dc3545;
}

.description {
    border-top: 1px solid black;
}

.slide{
    height: 200px;
    max-width: 420px;
}


/*
img {
    width:300px; 
    transition:width 0.5s ease; 
}

#statya:hover img { width:500px; }*/

.picture{
    width:  100%;
    min-height: 100%;
}